<div class="content-wraper mt-3  " th:fragment="groupFragment">
    <div class="row flex-grow d-flex justify-content-center">

        <div class="col-lg-10 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Demande Groupé</h4>

                    <div class="table-responsive pt-3">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Produits
                                    </th>
                                    <th>
                                        Quantité
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer;" th:each="detail, iteration : ${detailsBesoinGrouped}"
                                    th:attr="data-url=@{/home/besoin/group/{id}(id=${detail.produit.id})}">

                                    <td th:text="${iteration.count}"></td>
                                    <td th:text="${detail.produit.libelle}"></td>
                                    <td th:text="${detail.quantite}"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <br>
                    <a th:if="${message==null && employe.isMgr()}" th:href="@{/home/besoin/group/validate}"><button
                            class="btn btn-primary">Validez</button></a>
                    <div th:if="${message!=null}" class="alert alert-success" th:text="${message}"></div>
                    <div th:if="${error!=null}" class="alert alert-danger" th:text="${error}"></div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            document.addEventListener('DOMContentLoaded', function () {
                const rows = document.querySelectorAll('tr[data-url]');

                rows.forEach(function (row) {
                    row.addEventListener('click', function () {
                        const url = this.getAttribute('data-url');
                        window.location.href = url;
                    });
                });
            });
        </script>


    </div>
    <div class="row flex-grow d-flex justify-content-center">

        <div class="col-lg-10 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Demande en attente de bon de commande</h4>

                    <div class="table-responsive pt-3">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Produits
                                    </th>
                                    <th>
                                        Quantité
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer;" th:each="detail, iteration : ${detailsEnAttente}"
                                    th:attr="data-url=@{/home/besoin/group/{id}(id=${detail.produit.id})}">

                                    <td th:text="${iteration.count}"></td>
                                    <td th:text="${detail.produit.libelle}"></td>
                                    <td th:text="${detail.quantite}"></td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                    <br>
                    <a th:if="${message==null && employe.isMgr()}" th:href="@{/home/besoin/group/validate}"><button
                            class="btn btn-success">Generer bon de commande</button></a>
                    <div th:if="${message!=null}" class="alert alert-success" th:text="${message}"></div>
                    <div th:if="${error!=null}" class="alert alert-danger" th:text="${error}"></div>
                </div>
            </div>
        </div>


    </div>
</div>