    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebarFragment">
      <ul class="nav">

        <li class="nav-item nav-category">Besoins</li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="menu-icon mdi mdi-floor-plan"></i>
            <span class="menu-title">Besoins</span>
            <i class="menu-arrow"></i> 
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/home/create-besoin">Nouveau</a></li>
              <li class="nav-item"> <a class="nav-link" href="/home/besoins">Listes</a></li>
              <li class="nav-item" th:if="${employe.isDepartementAchat()}" ><a class="nav-link" href="/home/besoin/group">Demande groupé</a></li>
            </ul>
          </div>
        </li>
        <div th:if="${employe.isDepartementAchat()}">
          <li  class="nav-item nav-category">Proforma</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#u-basic" aria-expanded="false" aria-controls="u-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">Proforma</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="u-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/home/proforma">Nouveau</a></li>
                <li class="nav-item"> <a class="nav-link" href="/home/besoins">Historique</a></li>
                
              </ul>
            </div>
          </li>
        </div>
        
       
      </ul>
    </nav>