<!-- partial -->

<div class="content-wrapper " th:fragment="proformaFragment">
    <div class="row">
        <div class="col-lg-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Choisissez le fournisseurs</h4>
                    <form id="myForm" class="forms-sample" method="post" action="/home/proforma/details">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Fournisseur</label>
                            <select class="form-select" aria-label="Default select example" name="fournisseur">
                                <option selected>Choisissez le fournisseur</option>
                                <option th:each="produit : ${fournisseurs}" th:value="${produit.getId()}"
                                    th:text="${produit.getLibelle()}">
                                </option>
                            </select>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Date </label>
                                <input type="date" class="form-control" id="exampleInputEmail1"
                                     name="date">
                            </div>
                            
                        </div>
                        
                    </form>
                    <input type="submit" class="btn btn-primary " form="myForm" value="Ajouter proforma">

                    <a href="/home/cancel-besoin"><button id="liveToastBtn" class="btn btn-light">Annulez</button></a>
                </div>
            </div>
        </div>
        
       
    </div>

</div>